body { background-color:cornflowerblue; font-size:14px;

}

h1 {font-size: 26px;}

h2 {font-size: 22px;}

h3 {font-size: 18px;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



li {
    display: inline;
}

a { text-decoration:none; color:black; }

a:hover, a:active, a:visited { text-decoration:none; color:black; }


.cssgridview { width:100%; 
               border-collapse:collapse;}

.cssgridview td { padding:10px; border:solid 1px;}

.cssgridview th { padding:10px; color:white; background-image:url(/pics/black-gradient.jpg)}

.cssgridview .alt {background-image:url(/pics/Grey-Gradient.jpg)}

.centered {text-align:center;
}

.container {width:801px; margin: 0 auto; border:2px solid black;
}

.header-right { background-color:black; color:white;  
          padding-top:169px; padding-right:8px; padding-bottom:5px; float:right; width:317px; text-align:right;
          }

.header-left { font-size:36px; background-color:black; color:white;
          float:left; padding:25px; width:426px;  
          }

.navmenu { clear:both;  background-color:whitesmoke; font-size:18px;
           padding-left:10px; padding-right:10px; padding-top:6px;
}

.mainapp {  background-color:whitesmoke; font-size:18px;
           padding:10px;
}

.footer { background-color:whitesmoke;
          padding:20px;
      }

